@use "../partials/base";
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0px 1.667px 8.333px 0px rgba(0, 0, 0, 0.15);
  z-index: 99999;
  .container {
    .wrapper--header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .header--link {
        margin-left: auto;
        ul {
          display: flex;
          align-items: center;
          gap: 5rem;
          li {
            transition: all base.$base-animatedFast;
            &:first-child {
              a {
                border-bottom: 2px solid base.$base-colorPrimary;
              }
            }
            a {
              transition: all base.$base-animatedFast;
              display: inline-block;
              padding: 4.6rem 0 4.4rem 0;
              font-size: 1.7rem;
              border-bottom: 2px solid transparent;
              &:hover {
                color: base.$base-colorPrimary;
              }
            }
            &:first-child {
              color: base.$base-colorPrimary;
            }

            &:hover {
              a {
                border-bottom: 2px solid base.$base-colorPrimary;
              }
            }
          }
        }
      }
      .header--cart {
        display: flex;
        align-items: center;
        gap: 5rem;
        margin-left: 5rem;
        .cart {
          position: relative;
          img {
            width: 2.5rem;
            height: 2.2rem;
          }
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -0.6rem;
            right: -0.6rem;
            width: 1.4rem;
            height: 1.4rem;
            border-radius: 50%;
            background: red;
            color: #fff;
            font-size: 0.9rem;
          }
        }
        .search {
          cursor: pointer;
          img {
            width: 2.3rem;
            height: 2.3rem;
          }
        }
      }
      .header--bar {
        display: none;
      }
    }
  }
}

@include base.base-desktop {
  .header {
    padding: 1rem 0;
    width: 100%;
    .container {
      .wrapper--header {
        position: relative;
        .header--link {
          width: 20rem;
          position: fixed;
          top: 0;
          right: -100%;
          transition: all base.$base-animatedFast ease-in-out;
          z-index: 9999999;
          ul {
            padding: 2rem;
            flex-direction: column;
            align-items: flex-start;
            background: #fff;
            height: 100vh;
            gap: 0rem;
            li {
              &:first-child {
                a {
                  border: none;
                }
              }
              a {
                padding: 2rem 0;
              }
            }
          }
        }
        .header--cart {
          gap: 2rem;
          margin-left: auto;
        }
        .header--bar {
          margin-left: 2rem;
          display: block;
          width: 2.5rem;
        }
      }
    }
  }
}
