@use "../partials/base";
.download {
  @extend %bg-section;
  .wrapper--download {
    position: relative;
    z-index: 99;
    padding: 6rem 0;
    .heading--download {
      @extend %heading--section;
      color: #fff;
      p {
        @extend %p-section;
        color: #fff;
      }
    }

    .bottom--download {
      text-align: center;
      a {
        img {
          width: 15rem;
          border-radius: 0.8rem;
        }
      }
    }
  }
}
