@use "../partials/base";
.testimonials {
  @extend %bg-section;
  .wrapper--testimonials {
    position: relative;
    z-index: 999;
    .heading--testimonials {
      @extend %heading--section;
      h3 {
        color: #fff;
      }
      p {
        @extend %p-section;
        color: #fff;
      }
    }
    .main--testimonials {
      max-width: 80rem;
      margin: 0 auto;
      .slide--arrow {
        i {
          font-size: 1.6rem;
          color: #fff;
          position: relative;
          &::before {
            width: 3rem;
            height: 3rem;
            border: 1px solid #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
          }
        }
      }
      .wrapper--testimonials-content {
        background: #eee7fe;
        display: flex;
        padding: 2rem;
        gap: 4rem;

        .testimonials--image {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 20%;
          img {
            border-radius: 50%;
            width: 14rem;
            position: relative;
            border: 12px solid #fff;
            border-radius: 50%;
            width: 100%;
            height: auto;
          }
        }
        .testimonials--content {
          span {
            font-size: 2.4rem;
            font-weight: 700;
            display: inline-block;
            margin-bottom: 1.4rem;
            span {
              font-size: 1.6rem;
              font-weight: 400;
              color: #212529;
            }
          }
          p {
            font-size: 1.4rem;
            font-weight: 400;
            color: #212529;
          }
        }
      }
    }
  }
}

@include base.base-tablet {
  .testimonials {
    .wrapper--testimonials {
      .main--testimonials {
        .wrapper--testimonials-content {
          flex-direction: column;
          align-items: center;
          gap: 1rem;
          .testimonials--image {
            max-width: 50%;
            img {
              border: none;
            }
          }
          .testimonials--content {
            text-align: center;
          }
        }
      }
    }
  }
}
