@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
$fontFamily: "Poppins", sans-serif;
$colorPrimary: #8e1efc;
$colorSecondary: #5f0099;
$bgPrimary: linear-gradient(to left, #7a60ff, #cd9ffa);
$animatedFast: 0.3s;
$animatedNormal: 0.4s;
$colPadding: 30px;
$breakPoints: (
  min: null,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  2xl: 1400px,
);

%p-section {
  font-size: 1.7rem;
  font-weight: 400;
  color: #818992;
  line-height: 2.6rem;
  margin-bottom: 8rem;
}

%p-content {
  font-size: 1.4rem;
  font-size: 400;
  color: #818992;
  line-height: 2.1rem;
}

%bg-section {
  position: relative;
  background: $bgPrimary;
  padding: 10rem 0;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: url(https://trandong0512.github.io/F8_BTVN_K10_d14/images/pattern.png);
  }
}

%heading--section {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}
