@media screen and (max-width: 1499.98px) {
  .section--landing .container .landing--left {
    left: 5.6%;
  }

  .section--landing .container .landing--left p {
    margin-top: 0rem;
  }

  .section--landing .container .landing--left .btn--switch {
    margin-top: 4rem;
  }

  .section--landing .container .landing--right {
    display: none;
  }

  .section--landing .container .wrapper--form .form--login {
    right: 7.2rem;
  }

  .section--landing
    .container
    #open-register:checked
    ~ .wrapper--form
    .form--register {
    right: 7.2rem;
  }
}

@media screen and (max-width: 1364.98px) {
  .icon--rocket {
    display: none;
  }

  .section--landing {
    padding: 8.4rem 0;
    position: static;
    background-position: 0;
  }

  .section--landing .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section--landing .container .landing--left {
    text-align: center;
    position: static;
  }

  .section--landing .container .landing--left p {
    display: none;
  }

  .section--landing .container .landing--left .btn--switch {
    margin-top: 2.2rem;
  }

  .section--landing .container .wrapper--form {
    margin-top: 8rem;
  }

  .section--landing .container .wrapper--form .form--login {
    transform: translateY(0);
    position: static;
  }

  .section--landing .container .wrapper--form .form--register {
    transform: translateY(0);
    position: static;
    display: none;
  }

  .section--landing .container .wrapper--form .form--register h2 {
    text-align: center;
  }

  .section--landing
    .container
    #open-register:checked
    ~ .wrapper--form
    .form--register {
    display: block;
  }

  .section--landing
    .container
    #open-register:checked
    ~ .wrapper--form
    .form--login {
    display: none;
  }
}

@media screen and (max-width: 599.98px) {
  .section--landing {
    padding: 8.4rem 2.6rem;
  }

  .section--landing .container .wrapper--form {
    width: 100%;
  }

  .section--landing .container .wrapper--form .form--login {
    width: 100%;
  }

  .section--landing
    .container
    #open-register:checked
    ~ .wrapper--form
    .form--register {
    width: 100%;
  }
}

@media screen and (max-width: 499.98px) {
  .section--landing .container .landing--left h1 {
    margin-top: -2.8rem;
    font-size: 6rem;
  }

  .section--landing .container .landing--left {
    width: 100%;
  }

  .section--landing .container .landing--left .btn--switch {
    width: 100%;
  }

  .section--landing .container .wrapper--form .form--login {
    padding: 4rem 3.2rem;
  }
  .section--landing .container .wrapper--form .form--register {
    padding: 4rem 3.2rem;
  }
}

@media screen and (max-width: 316.98px) {
  .section--landing
    .container
    .wrapper--form
    .form--login
    .wrapper--login
    .login--option {
    flex-direction: column;
    align-items: flex-start;
  }
}
