@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

:root {
  --color-primary: #ffa500;
  --color-secondary: rgba(255, 165, 0, 0.2);
  --color-dark-primary: #111111;
  --color-dark-secondary: #222222;
  --animated-fast: 0.3s;
  --container-width: 1400px;
  --column-space: 20px;
  --container-padding: 15px;
  --margin-section: 60px;
}

::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
  text-transform: capitalize;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background: #efefef;
  transition: all var(--animated-fast) ease;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  font-family: "Nunito", sans-serif;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--color-dark-secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}
