@import url(./base.css);
@import url(./components.css);
@import url(./grid.css);
@import url(./section.css);

@media screen and (max-width: 990.98px) {
  /* ------------- Header -------------*/

  .section--header {
    padding: 1.5rem 2rem;
  }

  .section--header .header--logo a {
    font-size: 2.2rem;
  }

  .section--header .header--menu .list--menu li {
    font-size: 1.5rem;
  }

  .section--header .header--order .switch--theme .light--mode,
  .section--header .header--order .switch--theme .dark--mode {
    font-size: 1.8rem;
  }

  .section--header .header--order .switch--theme .light--mode::before,
  .section--header .header--order .switch--theme .dark--mode::before {
    width: 2.6rem;
    height: 2.6rem;
    border: 1px solid var(--color-primary);
  }

  .section--header .header--order .btn--secondary {
    font-size: 1.7rem;
  }

  /* ------------- Section hero -------------*/

  .section--hero .wrapper--hero p {
    font-size: 1.3rem;
  }

  .section--hero .wrapper--hero a {
    font-size: 1.8rem;
  }

  /* ------------- Section booking -------------*/

  .section--booking .wrapper--booking .booking--info h1 {
    font-size: 3.3rem;
  }
  .section--booking .wrapper--booking .booking--btn a {
    font-size: 1.8rem;
  }

  /* ------------- Section booking -------------*/

  .container {
    max-width: 100%;
    padding: 0 1.5rem;
  }

  .section--about .wrapper--about .row {
    align-items: flex-end;
  }

  .section--about .wrapper--about .about--video .wrapper--about-input span {
    width: 1.8rem;
    height: 1.8rem;
    border: 1px solid var(--color-primary);
  }

  .section--about .wrapper--about .about--content {
    gap: 1rem;
    margin-bottom: 4rem;
  }

  .section--about .wrapper--about .about--content span {
    font-size: 1.8rem;
  }

  .section--about .wrapper--about .about--content h3 {
    font-size: 3.5rem;
  }

  .section--about .wrapper--about .about--content p {
    font-size: 1.5rem;
  }

  .section--about .wrapper--about .about--content a {
    padding: 0.8rem 2rem;
    font-size: 1.8rem;
  }

  /* ------------- Section destination -------------*/

  .section--destination .heading--destination span {
    font-size: 1.8rem;
  }

  .section--destination .heading--destination h3 {
    font-size: 3.5rem;
  }

  .section--destination
    .wrapper--destination
    .destination
    .destination--content
    h4 {
    font-size: 1.8rem;
  }

  .section--destination
    .wrapper--destination
    .destination
    .destination--content
    p {
    font-size: 1.2rem;
  }

  .section--destination
    .wrapper--destination
    .destination
    .destination--content
    a {
    font-size: 1.5rem;
  }

  /* ------------- Section service -------------*/

  .section--service .heading--service span {
    font-size: 1.8rem;
  }

  .section--service .heading--service h3 {
    font-size: 3.5rem;
  }

  .section--service .wrapper--service .service {
    border: 1px solid var(--color-primary);
  }

  .section--service .wrapper--service .service .service--icon {
    font-size: 3.5rem;
  }

  .section--service .wrapper--service .service h4 {
    font-size: 1.8rem;
  }

  .section--service .wrapper--service .service p {
    font-size: 1.2rem;
  }

  /* ------------- Section exposition -------------*/

  .section--exposition .heading--exposition h2 {
    font-size: 2.6rem;
  }
  .section--exposition .wrapper--exposition .exposition span {
    font-size: 1.2rem;
  }

  .section--exposition .wrapper--exposition .exposition h3 {
    font-size: 1.8rem;
  }

  /* ------------- Section review -------------*/
  .section--review .heading--review h2 {
    font-size: 2.6rem;
  }

  .section--review .heading--review p {
    font-size: 1.2rem;
  }

  .section--review .wrapper--review .review {
    border: 1px solid var(--color-primary);
  }

  .section--review .wrapper--review .review p {
    font-size: 1.2rem;
  }

  .section--review .wrapper--review .review .user {
    margin-top: 1.6rem;
    gap: 1rem;
  }

  .section--review .wrapper--review .review .user img {
    width: 4.4rem;
    height: 4.4rem;
  }

  .section--review .wrapper--review .review .user .info h3 {
    font-size: 1.5rem;
  }

  .section--review .wrapper--review .review .user .info span {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 767.98px) {
  /* ------------- Header -------------*/

  .section--header .menu--bar {
    display: block;
  }

  .section--header .header--menu {
    position: absolute;
    top: 6.5rem;
    left: 0;
    background: #222222;
    width: 100%;
    height: 0;
    transition: all 0.3s ease;
    background: #222;
    overflow: hidden;
  }

  .section--header input[id="open-menu"]:checked ~ .header--menu {
    height: 28rem;
  }

  .section--header .header--menu .list--menu {
    flex-direction: column;
    padding: 1.8rem;
    gap: 1.7rem;
    height: 0;
  }

  .section--header .header--menu .list--menu li {
    font-size: 1.8rem;
  }

  .section--header .header--order .switch--theme {
    right: 32%;
  }

  /* ------------- Section hero -------------*/

  .section--hero .wrapper--hero span {
    font-size: 8vw;
  }

  .section--hero .wrapper--hero h3 {
    font-size: 9vw;
  }

  .section--hero .wrapper--hero p {
    font-size: 1.3rem;
    max-width: 50rem;
  }

  .section--hero .wrapper--hero {
    padding: 3rem 2rem;
  }

  /* ------------- Section booking -------------*/

  .section--booking .wrapper--booking .booking--info h1 {
    font-size: 2.6rem;
  }

  .section--about .wrapper--about .about--content {
    margin-top: 2.6rem;
  }

  /* ------------- Section destination -------------*/

  .section--destination .wrapper--destination .destination--img {
    aspect-ratio: 16 /9;
  }
  .section--destination
    .wrapper--destination
    .destination
    .destination--content {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 449.98px) {
  /* ------------- Header -------------*/

  .section--header .header--menu {
    top: 6.4rem;
  }

  .section--header .menu--bar {
    font-size: 2rem;
  }

  .section--header .header--logo a {
    font-size: 2rem;
  }

  .section--header .header--order .switch--theme .light--mode,
  .section--header .header--order .switch--theme .dark--mode {
    font-size: 1.6rem;
  }

  .section--header .header--order .switch--theme .light--mode::before,
  .section--header .header--order .switch--theme .dark--mode::before {
    width: 2.4rem;
    height: 2.4rem;
  }

  .section--header .header--order .btn--secondary {
    font-size: 1.6rem;
  }

  /* ------------- Section hero -------------*/

  .section--hero .wrapper--hero p {
    font-size: 1.2rem;
  }

  .section--hero .wrapper--hero a {
    font-size: 1.6rem;
  }

  /* ------------- Section booking -------------*/

  .section--booking .wrapper--booking .booking--info h1 {
    font-size: 2.4rem;
  }
  .section--booking .wrapper--booking .booking--btn a {
    font-size: 1.6rem;
  }

  /* ------------- Section about -------------*/

  .section--about .wrapper--about .about--content span {
    font-size: 1.6rem;
  }

  .section--about .wrapper--about .about--content h3 {
    font-size: 2.8rem;
  }

  .section--about .wrapper--about .about--content p {
    font-size: 1.4rem;
  }

  .section--about .wrapper--about .about--content a {
    font-size: 1.6rem;
  }

  /* ------------- Section destination -------------*/

  .section--destination .heading--destination span {
    font-size: 1.6rem;
  }

  .section--destination .heading--destination h3 {
    font-size: 3.2rem;
  }

  .section--destination
    .wrapper--destination
    .destination
    .destination--content
    h4 {
    font-size: 1.6rem;
  }

  .section--destination
    .wrapper--destination
    .destination
    .destination--content
    p {
    font-size: 1.1rem;
  }

  .section--destination
    .wrapper--destination
    .destination
    .destination--content
    a {
    font-size: 1.4rem;
  }

  /* ------------- Section service -------------*/

  .section--service .heading--service span {
    font-size: 1.6rem;
  }

  .section--service .heading--service h3 {
    font-size: 3.2rem;
  }
  /* ------------- Section service -------------*/

  .section--service .wrapper--service .service .service--icon {
    font-size: 3.2rem;
  }

  .section--service .wrapper--service .service h4 {
    font-size: 1.6rem;
  }

  .section--service .wrapper--service .service p {
    font-size: 1.1rem;
  }

  /* ------------- Section exposition -------------*/

  .section--exposition .heading--exposition h2 {
    font-size: 2.4rem;
  }
  .section--exposition .wrapper--exposition .exposition span {
    font-size: 1.1rem;
  }

  .section--exposition .wrapper--exposition .exposition h3 {
    font-size: 1.6rem;
  }

  /* ------------- Section review -------------*/
  .section--review .heading--review h2 {
    font-size: 2.4rem;
  }

  .section--review .heading--review p {
    font-size: 1.1rem;
  }

  .section--review .wrapper--review .review p {
    font-size: 1.1rem;
  }

  .section--review .wrapper--review .review .user {
    margin-top: 1.4rem;
    gap: 1rem;
  }

  .section--review .wrapper--review .review .user img {
    width: 4rem;
    height: 4rem;
  }

  .section--review .wrapper--review .review .user .info h3 {
    font-size: 1.4rem;
  }

  .section--review .wrapper--review .review .user .info span {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 349.98px) {
  /* ------------- Header -------------*/

  .section--header .header--order .switch--theme {
    right: 38%;
  }
}
