.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6rem;
  margin-top: 6rem;
  .logo {
    position: relative;
    > span {
      font-size: 2.2rem;
      font-weight: 700;
      position: absolute;
      top: 50%;
      left: 64%;
      transform: translateY(-50%);
      display: flex;

      > span {
        margin-left: 0.2rem;
        display: flex;
      }
      .border-top {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 2px;
          left: 2px;
          width: 80%;
          height: 1px;
          border-top: 2px solid #000;
        }
      }
    }
  }

  h2 {
    font-size: 3.1rem;
    font-weight: 800;
  }

  .link-products {
    ul {
      display: flex;
      flex-direction: column;
      gap: 3.2rem;
      li {
        a {
          display: flex;
          align-items: center;
          gap: 1rem;
          font-weight: 600;
          img {
            width: 2.2rem;
          }
        }
      }
    }
  }
  .helper {
    width: fit-content;
    position: sticky;
    transform: translateY(520%);
    left: 10%;
    display: flex;
    align-items: center;
    z-index: 9999;
    gap: 2rem;
    > .wrapper--helper {
      width: 4rem;
      height: 4rem;
      background: #f6f6f6;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      img {
        width: 1.8rem;
        display: inline-block;
        position: relative;
      }
    }
    span {
      font-weight: 600;
    }
  }
}

@include miniPc-device {
  .sidebar {
    position: fixed;
    top: 2rem;
    transform: translateX(-100%);
    text-align: center;
    width: 30rem;
    background: #fff;
    padding: 3.2rem;
    gap: 3.2rem;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.4s ease-in-out;
    .logo {
      display: none;
    }
  }

  .helper {
    opacity: 0;
    visibility: hidden;
  }
}

@include mobile-device {
  .sidebar {
    width: 26rem;
    background: #fff;
    padding: 3.2rem 2rem;
    gap: 3.2rem;
  }
}
