.row {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 793px) {
  .col {
    padding-left: 4px;
    padding-right: 4px;
  }

  .c0 {
    display: none;
  }
  .c-1,
  .c-2,
  .c-3,
  .c-4,
  .c-5,
  .c-6,
  .c-7,
  .c-8,
  .c-9,
  .c-10,
  .c-11,
  .c-12 {
    display: block;
  }

  .c-1 {
    flex: 0 0 auto;
    width: 8.3333%;
  }

  .c-2 {
    flex: 0 0 auto;
    width: 16.6667%;
  }

  .c-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .c-4 {
    flex: 0 0 auto;
    width: 33.3333%;
  }

  .c-5 {
    flex: 0 0 auto;
    width: 41.6667%;
  }

  .c-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .c-7 {
    flex: 0 0 auto;
    width: 58.3333%;
  }
  .c-8 {
    flex: 0 0 auto;
    width: 66.6667%;
  }

  .c-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .c-10 {
    flex: 0 0 auto;
    width: 83.3333%;
  }

  .c-11 {
    flex: 0 0 auto;
    width: 91.6667%;
  }

  .c-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .c-o-1 {
    margin-left: 8.33333%;
  }

  .c-o-2 {
    margin-left: 16.66667%;
  }

  .c-o-3 {
    margin-left: 25%;
  }

  .c-o-4 {
    margin-left: 33.33333%;
  }

  .c-o-5 {
    margin-left: 41.66667%;
  }

  .c-o-6 {
    margin-left: 50%;
  }

  .c-o-7 {
    margin-left: 58.33333%;
  }

  .c-o-8 {
    margin-left: 66.66667%;
  }

  .c-o-9 {
    margin-left: 75%;
  }

  .c-o-10 {
    margin-left: 83.33333%;
  }

  .c-o-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 794px) and (max-width: 992px) {
  .col {
    padding-left: 8px;
    padding-right: 8px;
  }

  .m-0 {
    display: none;
  }

  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    display: block;
  }

  .m-1 {
    flex: 0 0 auto;
    width: 8.3333%;
  }

  .m-2 {
    flex: 0 0 auto;
    width: 16.6667%;
  }

  .m-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .m-4 {
    flex: 0 0 auto;
    width: 33.3333%;
  }

  .m-5 {
    flex: 0 0 auto;
    width: 41.6667%;
  }

  .m-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .m-7 {
    flex: 0 0 auto;
    width: 58.3333%;
  }
  .m-8 {
    flex: 0 0 auto;
    width: 66.6667%;
  }

  .m-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .m-10 {
    flex: 0 0 auto;
    width: 83.3333%;
  }

  .m-11 {
    flex: 0 0 auto;
    width: 91.6667%;
  }

  .m-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .m-o-1 {
    margin-left: 8.33333%;
  }

  .m-o-2 {
    margin-left: 16.66667%;
  }

  .m-o-3 {
    margin-left: 25%;
  }

  .m-o-4 {
    margin-left: 33.33333%;
  }

  .m-o-5 {
    margin-left: 41.66667%;
  }
  .m-o-6 {
    margin-left: 50%;
  }

  .m-o-7 {
    margin-left: 58.33333%;
  }

  .m-o-8 {
    margin-left: 66.66667%;
  }

  .m-o-9 {
    margin-left: 75%;
  }

  .m-o-10 {
    margin-left: 83.33333%;
  }

  .m-o-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 993px) {
  .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  .l-0 {
    display: none;
  }

  .l-1,
  .l-2,
  .l-3,
  .l-4,
  .l-5,
  .l-6,
  .l-7,
  .l-8,
  .l-9,
  .l-10,
  .l-11,
  .l-12 {
    display: block;
  }

  .l-1 {
    flex: 0 0 auto;
    width: 8.3333%;
  }

  .l-2 {
    flex: 0 0 auto;
    width: 16.6667%;
  }

  .l-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .l-4 {
    flex: 0 0 auto;
    width: 33.3333%;
  }

  .l-5 {
    flex: 0 0 auto;
    width: 41.6667%;
  }

  .l-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .l-7 {
    flex: 0 0 auto;
    width: 58.3333%;
  }
  .l-8 {
    flex: 0 0 auto;
    width: 66.6667%;
  }

  .l-9 {
    flex: 0 0 auto;
    width: 75%;
  }

  .l-10 {
    flex: 0 0 auto;
    width: 83.3333%;
  }

  .l-11 {
    flex: 0 0 auto;
    width: 91.6667%;
  }

  .l-12 {
    flex: 0 0 auto;
    width: 100%;
  }

  .l-o-1 {
    margin-left: 8.33333%;
  }

  .l-o-2 {
    margin-left: 16.66667%;
  }
  .l-o-3 {
    margin-left: 25%;
  }

  .l-o-4 {
    margin-left: 33.33333%;
  }
  .l-o-5 {
    margin-left: 41.66667%;
  }

  .l-o-6 {
    margin-left: 50%;
  }
  .l-o-7 {
    margin-left: 58.33333%;
  }

  .l-o-8 {
    margin-left: 66.66667%;
  }

  .l-o-9 {
    margin-left: 75%;
  }

  .l-o-10 {
    margin-left: 83.33333%;
  }

  .l-o-11 {
    margin-left: 91.66667%;
  }
}

/**********PC********** */

@media (max-width: 1380px) {
  /*****Service section/***** */

  .service--section .container .wrapper--service h5 {
    font-size: 1.6rem;
  }

  .service--section .container .wrapper--service h2 {
    font-size: 3.2rem;
    max-width: 100%;
  }

  /*****Discovery section/***** */

  .discovery--section .wrapper--discovery .discovery--content h5 {
    font-weight: 500;
  }

  .discovery--section .wrapper--discovery .discovery--content h2 {
    font-size: 3.2rem;
  }

  .discovery--section .wrapper--discovery .discovery--content p {
    font-size: 1.6rem;
  }

  /*****Delivery section/***** */

  .delivery--section .wrapper--delivery .delivery--content h5 {
    font-weight: 500;
  }

  .delivery--section .wrapper--delivery .delivery--content h2 {
    font-size: 3.2rem;
  }

  .delivery--section .wrapper--delivery .delivery--content p {
    font-size: 1.6rem;
  }

  /*****Order section/***** */

  .order--section .container .wrapper--order .order--content .btn--order {
    gap: 2.6rem;
  }

  .order--section .container .wrapper--order .order--content .btn--order a div {
    font-size: 1.6rem;
  }

  /*****Footer/***** */

  .container--footer .wrapper--footer .footer--logo p {
    padding-right: 0;
  }
}

@media (max-width: 1300px) {
  .btn {
    font-size: 1.6rem;
  }

  /*****Header/***** */
  .hero--section .wrapper--hero .hero--content h1 {
    font-size: 4.8rem;
    line-height: 5.8rem;
  }
}

@media (max-width: 1200px) {
  /*****Order section/***** */

  .order--section .container .wrapper--order .order--content .btn--order {
    gap: 0.6rem;
  }

  /*****Footer/***** */

  .container--footer ul li,
  .container--footer .wrapper--footer .footer--touch p {
    font-size: 1.4rem;
  }
}

/**********Tablet********** */

@media (max-width: 992px) {
  /*****Header/***** */
  .container--header .wrapper--header {
    flex-direction: column;
    height: 0;
    transition: all var(--animated-normal);
    justify-content: unset;
  }

  .container--header input:checked ~ .wrapper--header {
    height: 42rem;
  }

  .container--header .wrapper--header .wrapper--logo .header--logo {
    flex: 0 0 50%;
  }

  .container--header .wrapper--header .wrapper--links {
    padding-left: 0;
    flex-direction: column;
    overflow: hidden;
    transition: all var(--animated-fast) ease-in;
    width: 100%;
    justify-content: unset;
    gap: 2rem;
  }

  .container--header .wrapper--header .wrapper--links .header--links {
    width: 100%;
  }

  .container--header .wrapper--header .wrapper--links ul {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container--header .wrapper--header .wrapper--links ul li {
    width: 100%;
  }

  .container--header .wrapper--header .wrapper--links ul li a {
    display: block;
    width: 100%;
  }

  .container--header .wrapper--header .bar--links {
    display: block;
  }

  /*****Hero section/***** */
  .hero--section {
    text-align: center;
  }

  .hero--section .wrapper--hero .hero--content h1 {
    font-size: 3.6rem;
  }

  .hero--section .wrapper--hero .wrapper--btn-hero {
    justify-content: center;
  }

  /*****Discovery section/***** */
  .discovery--section .wrapper--discovery {
    gap: 6rem;
  }

  .discovery--section .wrapper--discovery .discovery--content {
    padding-right: 0;
  }

  /*****Delivery section/***** */
  .delivery--section .wrapper--delivery {
    gap: 6rem;
  }

  .delivery--section .wrapper--delivery {
    flex-direction: column-reverse;
  }

  .delivery--section .wrapper--delivery .delivery--content {
    padding-right: 0;
  }

  /*****Order section/***** */
  .order--section .container .wrapper--order {
    gap: 6rem;
  }

  .order--section .container .wrapper--order .order--content {
    padding-right: 0;
  }

  .order--section .container .wrapper--order .order--content .btn--order {
    justify-content: flex-start;
    gap: 2rem;
  }

  .order--section
    .container
    .wrapper--order
    .order--content
    .btn--order
    a
    button {
    padding: 1.2rem 2.6rem;
    width: fit-content;
  }

  /*****Footer/***** */

  .container--footer .wrapper--footer {
    text-align: center;
  }

  .container--footer .wrapper--footer .footer--company,
  .container--footer .wrapper--footer .footer--services,
  .container--footer .wrapper--footer .footer--touch {
    margin-top: 4rem;
  }
}

/**********Mobile********** */

@media (max-width: 794px) {
  .container {
    padding: 0 2rem;
  }

  /*****Header/***** */
  .hero--section {
    text-align: center;
  }

  /*****Hero section/***** */
  .hero--section .wrapper--hero .wrapper--btn-hero {
    justify-content: center;
  }

  .hero--section .wrapper--hero .wrapper--btn-hero .btn--primary {
    font-size: 1.2rem;
  }

  .service--section
    .container
    .wrapper--service
    .service--list
    .wrapper--service-list:not(:first-child) {
    margin-top: 2rem;
  }

  /*****Discovery section/***** */
  .discovery--section .wrapper--discovery .discovery--content {
    text-align: center;
  }

  .discovery--section .wrapper--discovery .discovery--content .btn--discovery {
    display: flex;
    justify-content: center;
  }

  /*****Delivery section/***** */

  .delivery--section .wrapper--delivery .delivery--content {
    text-align: center;
  }

  .delivery--section .wrapper--delivery .delivery--content .btn--delivery {
    display: flex;
    justify-content: center;
  }

  /*****Order section/***** */

  .order--section .wrapper--order .order--content {
    text-align: center;
  }

  .order--section .container .wrapper--order .order--content .btn--order {
    justify-content: center;
  }

  /*****Footer/***** */

  .container--footer .footer--copyright {
    flex-direction: column;
  }
}
