/***************HEADER************** */

.container--header .wrapper--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container--header .wrapper--header .wrapper--logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container--header .wrapper--header .wrapper--links {
  padding-left: 6.4rem;
  flex: 0 0 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper--header .header--links ul {
  display: flex;
  justify-content: center;
  gap: 3.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  color: rgb(33, 37, 41);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.wrapper--header .header--links ul li {
  font-size: 1.4rem;
  transition: all var(--animated-fast);
}

.wrapper--header .header--links ul li:first-child {
  color: var(--color-primary);
}

.wrapper--header .header--links ul li:hover {
  color: var(--color-primary);
}

.wrapper--header .header--search {
  display: flex;
  align-items: center;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 1rem;
  padding: 0.8rem 1.6rem;
  width: 28rem;
  justify-content: space-between;
  align-items: center;
}

.wrapper--header .header--search .search--logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.wrapper--header .header--search .search--logo span {
  color: #8b8b8b;
}

.wrapper--header .header--search .search--logo input {
  border: none;
}

.wrapper--header .header--search .search--logo input::placeholder {
  color: #000;
  font-weight: 500;
}

.wrapper--header .header--search .cart {
  position: relative;
}

.wrapper--header .header--search .cart .cart--logo {
  font-size: 2.2rem;
  position: relative;
  padding-left: 1.4rem;
  border-left: 1px solid #ddd;
}

.wrapper--header .header--search .cart span {
  position: absolute;
  top: -2.4rem;
  right: -2rem;
  width: 2.8rem;
  height: 2.8rem;
  background: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  box-shadow: var(--color-primary) -4px 9px 25px -6px;
}

.bar--links {
  display: none;
}

.bar--links label {
  font-size: 2.8rem;
  line-height: 2rem;
  padding: 0 1rem;
  border: 1px solid #ddd;
  color: #8b8b8b;
  border-radius: 4px;
  cursor: pointer;
}

/***************HERO SECTION************** */

.hero--section .hero--tittle span {
  padding: 1.2rem 2rem;
  background: rgba(249, 96, 99, 0.1);
  border-radius: 99rem;
  color: var(--color-primary);
}

.hero--section .wrapper--hero .hero--content {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;
  margin-top: 4.6rem;
  justify-content: flex-start;
}

.hero--section .wrapper--hero .hero--content h1 {
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 8.8rem;
  color: rgb(46, 46, 46);
  font-size: 7.4rem;
}

.hero--section .wrapper--hero .hero--content h1 span {
  color: var(--color-primary);
  font-weight: 500;
}

.hero--section .wrapper--hero .hero--content p {
  color: rgb(103, 103, 103);
  font-weight: 500;
}

.hero--section .wrapper--hero .wrapper--btn-hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero--section .wrapper--hero .wrapper--btn-hero .btn--hero {
  margin-left: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: rgb(103, 103, 103);
  font-weight: 500;
}

.hero--section .wrapper--hero .wrapper--btn-hero .btn--hero img {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 50%;
}

.hero--section .wrapper--hero .hero--image img {
  width: 100%;
}

/***************SERVICE SECTION************** */

.service--section {
  background: #fef5f5;
  padding: 8rem 0;
}

.service--section .container .wrapper--service {
  text-align: center;
}
.service--section .container .wrapper--service > .row {
  justify-content: center;
}

.service--section .container .wrapper--service h5 {
  color: var(--color-primary);
  font-size: 1.8rem;
  font-weight: 500;
}

.service--section .container .wrapper--service h2 {
  font-size: 4rem;
  line-height: 5.4rem;
  max-width: 50%;
  margin: 0 auto;
}

.service--section .container .wrapper--service .service--list {
  margin-top: 6rem;
}

.service--section
  .container
  .wrapper--service
  .service--list
  .wrapper--service-list {
  position: relative;
  z-index: 2;
}

.service--section
  .container
  .wrapper--service
  .service--list
  .wrapper--service-list::after {
  content: "";
  top: 0;
  left: 40px;
  width: calc(100% - 48px);
  height: 106%;
  border-radius: 1.2rem;
  position: absolute;
  background: var(--color-primary);
  z-index: 1;
  opacity: 0;
  transition: all var(--animated-fast) ease;
}

.service--section
  .container
  .wrapper--service
  .service--list
  .wrapper--service-list:hover::after {
  rotate: -4deg;
  top: -3px;
  left: 48px;
  opacity: 1;
}

.service--section
  .container
  .wrapper--service
  .service--list
  .wrapper--service-list
  .wrapper--service-content {
  position: relative;
  z-index: 2;
  background: #fff;
  height: 100%;
  padding: 4rem 2.4rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
  margin: 0 2rem;
}

.service--section
  .container
  .wrapper--service
  .service--list
  .wrapper--service-list
  .service--icon {
  margin-bottom: 4rem;
}

.service--section
  .container
  .wrapper--service
  .service--list
  .wrapper--service-list
  .service--icon
  img {
  width: auto;
  height: 6rem;
}

.service--section
  .container
  .wrapper--service
  .service--list
  .wrapper--service-list
  h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

.service--section
  .container
  .wrapper--service
  .service--list
  .wrapper--service-list
  p {
  color: rgb(103, 103, 103);
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 2.6rem;
}

/***************DISCOVERY SECTION************** */

.discovery--section .wrapper--discovery {
  align-items: center;
}

.discovery--section .wrapper--discovery .discovery--image img {
  width: 100%;
}

.discovery--section .wrapper--discovery .discovery--content {
  padding-right: 8rem;
}

.discovery--section .wrapper--discovery .discovery--content h5 {
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(3, 166, 107);
}

.discovery--section .wrapper--discovery .discovery--content h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.4rem;
  margin-top: 2rem;
}

.discovery--section .wrapper--discovery .discovery--content p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
  color: rgb(103, 103, 103);
  margin-top: 2rem;
  margin-bottom: 4.8rem;
}

/***************DELIVERY SECTION************** */

.delivery--section .wrapper--delivery {
  align-items: center;
}

.delivery--section .wrapper--delivery .delivery--image img {
  width: 100%;
}

.delivery--section .wrapper--delivery .delivery--content {
  padding-right: 10rem;
}

.delivery--section .wrapper--delivery .delivery--content h5 {
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(249, 186, 69);
}

.delivery--section .wrapper--delivery .delivery--content h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.4rem;
  margin-top: 2rem;
}

.delivery--section .wrapper--delivery .delivery--content p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
  color: rgb(103, 103, 103);
  margin-top: 2rem;
  margin-bottom: 4.8rem;
}

/***************ORDER SECTION************** */

.order--section {
  background: #fef5f5;
}

.order--section .container .wrapper--order {
  align-items: center;
  padding: 10rem 0;
}

.order--section .container .wrapper--order .order--image {
  text-align: center;
}

.order--section .container .wrapper--order .order--content {
  padding-right: 12rem;
}

.order--section .container .wrapper--order .order--content h5 {
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(245, 71, 72);
}

.order--section .container .wrapper--order .order--content h2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.4rem;
  margin-top: 2rem;
}

.order--section .container .wrapper--order .order--content p {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
  color: rgb(103, 103, 103);
  margin-top: 2rem;
  margin-bottom: 4.8rem;
}

.order--section .container .wrapper--order .order--content .btn--order {
  justify-content: center;
}

.order--section .container .wrapper--order .order--content .btn--order {
  display: flex;
  gap: 1.6rem;
  justify-content: flex-start;
}

.order--section .container .wrapper--order .order--content .btn--order a div {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1.2rem 2.4rem;
  background-color: transparent;
  border: 1px solid #eedcdc;
  border-radius: 10px;
  font-size: 2.4rem;
  font-weight: 500;
}

/***************FOOTER SECTION************** */

.container--footer .wrapper--footer .footer--logo p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #676767;
  margin-top: 2rem;
  padding-right: 12rem;
}

.container--footer h4 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 4rem;
  color: #2e2e2e;
}

.container--footer .wrapper--footer {
  margin-bottom: 8rem;
}

.container--footer ul li,
.container--footer .wrapper--footer .footer--touch p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #676767;
}

.container--footer ul li {
  transition: all var(--animated-normal);
}

.container--footer ul li:hover {
  color: #000;
}

.container--footer ul li + li {
  margin-top: 1.4rem;
}

.container--footer .footer--copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container--footer .footer--copyright .copyright p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #8c8c8c;
}

.container--footer .footer--copyright .privacy {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.container--footer .footer--copyright .privacy p a {
  color: #747474;
  font-size: 1.4rem;
  transition: all var(--animated-normal);
}

.container--footer .footer--copyright .privacy p a:hover {
  color: #000;
}
